@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs > .blog-link-wrapper {
  padding: 2.6rem 1.3rem; 
  text-align: left;
}

.blogs > .blog-link-wrapper > .blog-name > h2 {
  color: purple;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
}

.blogs > .blog-link-wrapper > img {
  width: 20rem;
  padding: 1rem 2rem 1rem 0;
}