@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body {
  background-color: #9fb9ca ;
  box-sizing: border-box;
  max-width: 100%;
}
*, *:before, *:after {
  margin:0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  box-sizing: inherit;
}

.about__container {
  /* box-sizing: border-box; */
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  flex-direction: column;
  justify-content: center;
  padding: 0rem;
  
  
  /* background-color:#bdfffd ; */
}/* nav */
.nav {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
}

/* nav styles */
.nav-wrapper {

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1rem 1rem; 
  background-color: #064974;
}
/*Create a horizontal list with spacing*/
.nav-link-wrapper {
  display:flex;
  flex-wrap: nowrap;
  margin-right: 0;
  
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s ease-in, transform .3s .1s ease-in-out;
}
/*Style for menu links*/
.nav-link-wrapper > a { 
  color: #ffffff;
  
  text-decoration: none;
  transition: background 0.2s ease-in, transform .3s .1s ease-in-out;
}

/*Hover state for links*/

.nav-link-wrapper:hover {
  border-bottom: 3px solid #020202;
  transform: scaleX(1.2) scaleY(1.0) rotateY(30deg);
}

.nav-link-wrapper a:hover {
  color: #7af496;
  transform: scaleX(1.2) rotateY(30deg);
}

/* active nav link */

.active-nav-link {
  border-bottom: 2px solid #020202 !important;
  transform: scaleX(1.2) scaleY(1.0) rotateY(30deg) !important;
}

.active-nav-link a{
  color: #24fc56 !important;
  transform: scaleX(1.2) rotateY(30deg) !important;
}

/* about me header */
.about__container > header > h2 {
  font-size: 3rem;
  padding: 1rem 0.2rem;
  border: 2px solid transparent;
  margin: 0.1rem;
  text-align: center;
} 

 .content-wrapper {
  padding: 0.5rem 0.4rem;
  display: flex;
  flex-direction: row;
} 
.two-column-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.3rem;

}

/* portfolio-image-wrapper */

.portfolio-image-wrapper {
  padding: 1rem;
  width: fit-content;
  justify-content: center;
  
}


.portfolio-image-wrapper img {
  width: 70%;
  border-radius: 10%;
  margin: 0 0 0 2.5rem;
  
}

.portfolio-description_wrapper {
  padding: 1rem 0.5rem;
  display: flex;
  flex-flow: column;
}

/* .portfolio-description_wrapper > h2 {
  font-size: 2rem;
  padding: 1rem 0.2rem;
  border: 2px solid transparent;
  margin: 0.1rem;
  text-align: center;
}  */


.portfolio-description_wrapper > p {
  font-size: 1.3rem;
  padding: 1rem;
  border: 2px solid transparent;
  margin: 0.2rem;
  text-align: left;
}

.portfolio-description_wrapper > a:link {
  text-decoration: none;
  text-align: center;
  color: rgb(246, 45, 45);
  font-size: 1.8rem;
  font-family: 'Kanit', sans-serif;
  text-shadow:1.2px 1.2px rgb(3, 3, 3);
  transition: background 0.2s ease-in, transform .2s .1s ease-in-out;
}

.portfolio-description_wrapper > a:visited {
  color: rgb(246, 45, 45);
}

.portfolio-description_wrapper > a:hover {
  transform: scaleX(1.6) scaleY(1.2) rotateY(30deg);
}

.portfolio-description_wrapper > a > img {
  width: 1.8rem;
}



.portfolio-description_wrapper > .description > h3 {
  font-size: 1.2rem;
  padding: 0.9rem 1rem;
}

.portfolio-description_wrapper > .description > .skills > h4 {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.portfolio-description_wrapper > .description > .skills {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-description_wrapper > .description > .skills > .skill {
  padding: 1rem;
}

.portfolio-description_wrapper > .description > .skills > .skill > h4 {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}

.portfolio-description_wrapper > .description > .skills > .skill > .list > ul > li > a > img {
  width: 1.8rem;
}

.portfolio-description_wrapper > .description > .skills > .skill > .list > ul >li {
  padding: 0.3rem;
}

.portfolio-description_wrapper > .description > p {
  font-size: 1.1rem;
  padding: 0 0.7rem;
  border: 2px solid transparent;
  margin: 0.2rem;
  text-align: left;
}

.portfolio-description_wrapper > .description > .list {
  display:flex;
  flex-wrap: wrap;
}

.portfolio-description_wrapper > .description > .list > .list1 > ul >li {
  padding: 0.3rem;
}

.portfolio-description_wrapper > .description > .list > .list2 > ul >li {
  padding: 0.3rem;
}

/*   toggle   */
 .about__container > .nav > label {
  margin: 0 20px 0 0;
  font-size: 20px;
  display: none;
  width: 26px;
  float: right;
  line-height: 30px;
}
#toggle {
  display: none;
}

/* responsive */

@media screen and (max-width:500px){
  .about__container > .nav > label {
     display: block;
     cursor: pointer;
   }

   .nav-wrapper {
    text-align: center;
    width: 100%;
    display: none;
  }

   .nav-link-wrapper {
      display: block;
     padding: 1rem;
   }

   #toggle:checked + .nav-wrapper {
     display: block;
   }
   
}

/* footer */

footer {
  color: rgb(82, 62, 62);
  font-size: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 1vw 1rem;
  border: 0.3rem solid transparent;
  background-color: #9fb9ca;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
 /*  responsive 
 ------------------------------------------*/

 @media screen and (max-width: 1000px) {
  .two-column-wrapper {
  display: flex;
  flex-direction: column;
}
}