.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs > .blog-link-wrapper {
  padding: 0.5rem 1.3rem; 
}

.blogs > .blog-link-wrapper > a > img {
  width: 20rem;
  padding: 1rem 2rem;
}