
.project-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-wrapper > .headline {
  padding: 2rem;
}

.project-wrapper > .headline h2{
  font-size: 3rem;
  
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects > .project-link-wrapper {
  padding: 0.5rem 1.7rem 1.5rem 0;
  text-align: left; 
}

.projects > .project-link-wrapper > .project-name {
  padding: 0 2rem;
}

.projects > .project-link-wrapper > img {
  width: 20rem;
  padding: 1rem 1.5rem;
}

.projects > .project-link-wrapper > a {
  padding: 0 2rem;
}

.projects > .project-link-wrapper > p {
  text-align: left;
  width: 17rem;
  padding:  0.01rem 1.5rem;
}